@using Maxsys.Sample.AspNetExcelUpload.MVC.Controllers

@model SheetViewModel

<body style="background-color:#181834">
<h1 style="color:white"><strong>@Model.Name</strong></h1>
<h2>
    <div class="form-outline mb-4">
      <input type="search" class="form-control" id="datatable-search-input">
      @*<label class="form-label" for="datatable-search-input">Search</label>*@
    </div>
</h2>


<div class="card-body">
    <div id="table" class="table">

        <span class="table-add float-right mb-3 mr-2">
            <a href="#!" class="text-success">
                <i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
        </span>

        <table class="table table-striped table-hover text-center" border="0">
            <thead class="bg-gradient">
                <tr>
                @foreach (var column in Model.Columns)
                {
                    <th class="text-center" style="color:white">
                        @column.Column.Content
                    </th>
                }
                </tr>
            </thead>
            <tbody>
        @foreach (var row in Model.Rows.Where(r => r.Cells.Values.Any(x => x.Content != ""))) 
        {
                    <tr>
            @foreach (var cell in row.Cells) 
                @if(Utils.Validate_Regex(Model.Columns.Where(col => col.Column.Content == cell.Key).FirstOrDefault().Validation, cell.Value.Content))
                {
                    <td class="pt-3-half" style="background-color:lightgreen;">
                    @Html.DisplayFor(modelItem => cell.Value.Content)
                    </td>
                }
                else
                {
                    <td class="pt-3-half" style="background-color:lightcoral;" title="Padrão correto: @Model.Columns.Where(col => col.Column.Content == cell.Key).FirstOrDefault().Validation">
                    @Html.DisplayFor(modelItem => cell.Value.Content)
                    </td>           
                }
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
</body>
