@using Maxsys.Sample.AspNetExcelUpload.MVC.Controllers

@model SheetViewModel

<h1>@Model.Name</h1>
<h2>
    <div class="form-outline mb-4">
      <input type="search" class="form-control" id="datatable-search-input">
      @*<label class="form-label" for="datatable-search-input">Search</label>*@
    </div>
</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div class="card-body">
    <div id="table" class="table">

        <span class="table-add float-right mb-3 mr-2">
            <a href="#!" class="text-success">
                <i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
        </span>

        <table class="table table-bordered table-responsive-md table-striped table-hover text-center">
            <thead class="bg-dark">
                <tr>
                @foreach (var column in Model.Columns)
                {
                    <th class="text-center" style="color:white">
                        @column.Column.Content
                    </th>
                }
                </tr>
            </thead>
            <tbody>
        @foreach (var row in Model.Rows) 
        {
                <tr>
            @foreach (var cell in row.Cells) 
            {
                @if(Utils.Validate_Regex(Model.Columns.Where(col => col.Column.Content == cell.Key).FirstOrDefault().Validation, cell.Value.Content))
                {
                    <td class="pt-3-half" style="background-color:lightgreen;">
                    @Html.DisplayFor(modelItem => cell.Value.Content)
                    </td>
                }
                else
                {
                    <td class="pt-3-half" style="background-color:lightcoral;" title="Padrão correto: @Model.Columns.Where(col => col.Column.Content == cell.Key).FirstOrDefault().Validation">
                    @Html.DisplayFor(modelItem => cell.Value.Content)
                    </td>           
                }
            }
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
